html{
  display: flex;
  flex-flow: row nowrap;  
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background:#232526;
}

body {
  background: #232526;
  color: #DBD6D6;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  font-family: 'DM mono';
  padding-top: 250px;
  text-align: center;
  font-size: 10px;
}

/*Searchbox positioning*/
.Searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem; 
}

/*inputbox cosmetics*/
.Searchbox > input{
  font-family: 'DM mono';
  font-size: 16px;
  color: #8F9191; 
  border: 3px;
  border-radius: 3px;
  background: #191919;
  border-style: solid;
  min-height: 40px;
  min-width: 950px;
  
}

/*container  shittery*/
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.head {
  display: flex;
  flex-direction: column;
}

.category {
  flex: -1 1 calc(25% - 2rem);
  flex-wrap: wrap;
  min-width: 185px;
  display: flex;
  flex-direction: column;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 8rem;
  border-radius: 8px;
}

.bookmark {
  display: flex;
}

.bookmarks {
  /*Positioning*/
  display: flex;
  flex-direction: column;
  align-items: right;
  padding-top: 20px;
  padding-bottom: 20px;
  /*Cosmetics*/
  border-radius: 3px;
  background: #191919;
  border-style: solid;
}
/*Contianer shittery for half screen 1080p*/
@media (max-height: 960px) , (max-width: 930px) {
  .header {
    padding-top: 10rem;
  }
  
  .bookmark {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: right;
    padding-top: 2rem;
    gap: 2rem;
  }
  
  .category {
    flex: -1 1 calc(50% - 2rem);
    padding-left: 10rem;
    padding-right: 4rem;
    padding-top:2rem;
    border-radius: 8px;
  }
  
  .Searchbox{
    padding-top: 2rem;
  }
  .Searchbox > input {
    min-width: 800px;
  }
}

/*Formating for 1366x768*/
@media (min-width: 1360px) and (max-height: 660px) {
  .header {
    padding-top: 7rem;
  }
  
  .category {
    flex -1 1 calc(25% - 3rem);
    padding-left: 4rem;
  }
}
/*Formattng for 1366x768 haLf screen*/
@media (min-width: 680px) and (max-height: 660px) {
  .category
}
li {
  font-family: 'DM mono';
  font-size: 15px;
  list-style-type: none;
  padding: 5px;
  padding-left: 15px; 
}

a:link {
  text-decoration: none;
  color: #8F9191;
}

a:hover {
  color: #cc6dff;
}

a:visited {
  color: #9F9F9F;
}

div.bookmarks.cod a:hover {
  color: #cc6dff;
}

div.bookmarks.wrkfl a:hover {
  color: #cc6dff;
}

div.bookmarks.scl a:hover {
  color: #cc6dff;
}

div.bookmarks.geek a:hover {
  color: #cc6dff;
}

